


@font-face {
    font-family: Outfit;
    src: url('/fonts/outfit/Outfit-VariableFont_wght.ttf')
  }
  @font-face{
    font-family:figtree;
    src:url('/fonts/young-serif/YoungSerif-Regular.ttf');
  }

   

  .about-flex-container{
    display: flex;
    flex-direction: row; /* Initially set to column for responsive behavior */
  
    justify-content: flex-start; /* Left-align the container */
    margin-left: auto; /* Automatically aligns the container to the right of the body */
    margin-right: auto;

   }

    .about-flex1-para,.about-flex2-image{
        width: 50%; /* Each div takes up half of the container width */
padding: 10px;

    }

.about-heading{
    text-align:center;
    font-family: Outfit,sans-serif;

}
.about-heading h1{
   
    font-size:30px;

}
.about-heading p{
    color: rgb(183, 181, 181);
}
.about-flex1-para{
    font-family: Outfit,sans-serif;
    margin: 70px 70px ;
}
.about-flex1-para h1{
    color: gold;
    font-size: 25px;

}
.about-flex1-para p{
    font-size: 20px;
    color:rgb(183, 181, 181);
}


@media only screen and (max-width: 700px) {
    .about-flex-container{flex-direction: column;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .about-flex2-image{width: 600px;
    height: 400px;
margin-bottom: 60px;}
    .about-flex1-para{
        width: 100%;
        margin:0;
        justify-content: center;
       
    }
   

}

/*Our Teachers*/

.teachers-black-section {
    background-color: black;
    padding: 50px 0;
  }
  
  .teacher-card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .teacher-card {
    background-color: black;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    margin: 10px;
    width: calc(25% - 20px);
    box-sizing: border-box;
    box-shadow: 0px 2px 6px rgba(255, 255, 255, 0.3);
    text-align: center;
  }


  /* Adjust card styles as needed */
  /*Add image in the upper half of the card*/

  .teacher-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease-in-out; /* Smooth transition for hover effect */
  }

  /* Set black and white filter by default */
  .teacher-card img {
    filter: grayscale(100%);
  }

  /* Enable colors on hover */
  .teacher-card:hover img {
    filter: grayscale(0%);
  }

  /* Example */
  .teacher-card h2 {
    color: gold;
  }
.teacher-card h2:hover {
    text-shadow: 2px 2px 4px rgb(202, 187, 100),
    2px -2px 4px rgb(202, 187, 100);
  }
  .teacher-gold-icon {
    color: gold; /* Set icon color to gold */
    font-size: 1.5rem; /* Set icon size to 1.5 rem */
    transition: color 0.3s ease-in-out; /* Smooth transition for color change on hover */
  }

  /* Change icon color to white on hover */
  .gold-icon:hover {
    color: white;
  }
  a {
    text-decoration: none;
  }
 /* Media Query for smaller screens */
 @media screen and (max-width: 768px) {
    .teacher-card-container {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .teacher-card {
    width: calc(50% - 20px);
  }
  }


